* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 940px;
  width: 80%;
  margin: 3% auto;
  min-height: 100%;
  background-image: url(../images/fondo.jpg);
  background-size: cover;
}
.container {
  box-shadow: 0.5px 0.5px 20px rgb(60, 60, 60);
}
ul {
  margin-top: 1px;
  padding-left: 0;
  list-style: none;
  font-size: 0.9em;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  font-size: 1.4em;
  color: #5a8ac2;
}

.col-40 h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #b32911;
  float: left;
}
.smaller {
  font-size: 0.55em;
  color: #37404b;
}
h2 {
  font-size: 1.16em;
  color: #5a8ac2;
  margin-bottom: 5px;
  margin-top: 25px;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #f8fdff;
  padding: 0px 20px 25px 25px;
  color: #000;
  width: 40%;
}

.col-60 {
  background: #f8fdff;
  padding: 3% 3% 0.5% 3%;
  width: 60%;
  min-width: 615px;
}

#juego {
  background: #ad5a36;
  height: 604px;
  width: 604px;
  padding: 2px;
}

.pieza {
  height: 200px;
  width: 200px;
  float: left;
}

.pieza img {
  padding: 0.5px;
  height: 100%;
  width: 100%;
}

#grilla-fija {
  z-index: 10000;
  position: absolute;
  height: 604px;
  width: 604px;
  padding: 2px;
}

/* .pieza.fija {
  border: 3px solid black;
} */

/* .ocultar {
  display: none;
} */

#indicadores {
  margin: 5px 20% 5px 26%;
  display: flex;
}

#movimientos {
  z-index: 2;
  font-size: 25px;
  margin-top: 4px;
  color: #1f1f1f;
  justify-content: flex-start;
}

#reiniciar {
  justify-content: center;
  text-align: center;
  padding: auto;
  outline: none;
  border: none;
  z-index: 1000000;
}
#reiniciar img {
  width: 10%;
  height: 10%;
  cursor: pointer;
  z-index: 2;
}

#reloj-contenedor {
  display: flex;
  justify-content: flex-end;
  margin-top: 7px;
  font-size: 23px;
  color: #1f1f1f;
  z-index: 2;
}
.reloj {
  justify-content: flex-end;
}

#objetivo img {
  width: 180px;
  height: 180px;
  margin-top: 3px;
  border: 0.5px solid #e2d058;
}

#flecha img{
  width: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

/* CORREGIR CLASES DEL CARTEL GANADOR */
.cartel-ganador.activo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.cartel-ganador.oculto {
  display: none;
}


#cartel-ganador img {
  width: 600px;
  height: 600px;
  margin: auto;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* Media Queries */

@media screen and (max-width: 800px) {
  body {
    width: 90%;
  }
  .col-40, .col-60 {
    float: left;
    width: 80%;
    max-width: 550px;
    min-width: 520px;
    margin-right: 3%;
    margin-left: 3%;
  }
  .col-40 {
    padding-bottom: 5px;
  }
  .col-60 {
    margin-bottom: 5%;
  }
  #juego {
    width: 454px;
    height: 454px;
    margin: auto;
  }

  #grilla-fija {
    width: 454px;
    height: 454px;
    margin: auto;
    left: 13.8%;
  }

  .pieza {
    width: 150px;
    height: 150px;
  }

  #reloj-contenedor {
    font-size: 18px;
    right: 30px;
    bottom: 25px;
  }

  #movimientos {
    font-size: 18px;
    left: 30px;
    bottom: 25px;
  }

  #objetivo {
    float: right;
    text-align: right;
    margin-right: 6%; 
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
  #ultimo-mov {
    float: left;
    margin-left: 5px;
    text-align: center;
  }
  #flecha {
    font-size: 5em;
    margin-top: 28px;
  }
  #flecha img {
    width: 40px;
    height: 40px;
  }
  #objetivo img {
    width: 120px;
    height: 120px; 
  }
  #instrucciones {
    margin: 40px 6% 0px 30px;
    text-align: right;
    padding-bottom: 0;
  }
  li {
    text-align: justify;
  }
  h1 {
    text-align: left;
    margin-left: 25px;
    margin-right: 70px;
  }
  h2 {
    font-size: 1.1em;
  }
}