* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 940px;
  width: 80%;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 30px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 40%;
}

.col-60 {
  background: #FFF;
  padding: 3%;
  width: 60%;
  min-width: 615px;
}

#juego {
  background: #E84A5F;
  height: 605px;
  width: 605px;
  padding: 2px;
}

.pieza {
  height: 200px;
  width: 200px;
  float: left;
}

.pieza img {
  box-sizing: border-box;
  border: 0.5px solid transparent;
  height: 100%;
  width: 100%;
}

#objetivo img {
  width: 200px;
  height: 200px;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

/* CORREGIR CLASES DEL CARTEL GANADOR */
.cartel-ganador.activo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.cartel-ganador.oculto {
  display: none;
}


#cartel-ganador img {
  width: 600px;
  height: 600px;
  margin: auto;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* Media Queries */

@media screen and (max-width: 800px) {
  body {
    width: 92%;
  }
  .col-40, .col-60 {
    float: left;
    width: 100%;
    min-width: 520px;
  }
  #juego {
    width: 455px;
    height: 455px;
    margin: auto;
  }
  .pieza {
    width: 150px;
    height: 150px;
  }
  #objetivo {
    float: right;
    font-size: 0.8em;
    text-align: right;
    margin-right: 8%; 
  }
  #ultimo-mov {
    float: left;
    font-size: 0.8em;
    margin-left: 25px;
    text-align: center;
  }
  #flecha {
    font-size: 6em;
    margin-top: 25px;
  }
  #objetivo img {
    width: 150px;
    height: 150px; 
  }
  #instrucciones {
    font-size: 0.85em;
    margin-left: 25px;
  }
  h1 {
    text-align: center;
  }
}