* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 940px;
  width: 80%;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/fondo.jpg);
  background-size: auto;
  
}
.container {
  box-shadow: 0.5px 0.5px 20px rgb(60, 60, 60);
}
ul {
  margin-top: 1px;
  padding-left: 0;
  list-style: none;
  font-size: 0.9em;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  font-size: 1.4em;
  color: #5a8ac2;
}

.col-40 h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #a74818;
}
.smaller {
  font-size: 0.55em;
  color: #37404b;
}
h2 {
  font-size: 1.16em;
  color: #5a8ac2;
  margin-bottom: 3px;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #f8fdff;
  padding: 0px 20px 25px 25px;
  color: #000;
  width: 40%;
}

.col-60 {
  background: #f8fdff;
  padding: 3%;
  width: 60%;
  min-width: 615px;
}

#juego {
  background: #e2d058;
  height: 604px;
  width: 604px;
  padding: 2px;
}

.pieza {
  height: 200px;
  width: 200px;
  float: left;
}

.pieza img {
  border: 0.1px solid transparent;
  height: 100%;
  width: 100%;
}

#objetivo img {
  width: 200px;
  height: 200px;
  margin-top: 3px;
  border: 0.5px solid #e2d058;
}

#flecha{
  font-size: 55px;
  margin-top: 8px;
  padding-bottom: 25px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

/* CORREGIR CLASES DEL CARTEL GANADOR */
.cartel-ganador.activo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.cartel-ganador.oculto {
  display: none;
}


#cartel-ganador img {
  width: 600px;
  height: 600px;
  margin: auto;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* Media Queries */

@media screen and (max-width: 800px) {
  body {
    width: 90%;
  }
  .col-40, .col-60 {
    float: left;
    width: 94%;
    max-width: 550px;
    min-width: 520px;
    margin-right: 3%;
    margin-left: 3%;
  }
  #juego {
    width: 454px;
    height: 454px;
    margin: auto;
  }
  .pieza {
    width: 150px;
    height: 150px;
  }
  #objetivo {
    float: right;
    text-align: right;
    margin-right: 8%; 
  }
  #ultimo-mov {
    float: left;
    margin-left: 25px;
    text-align: center;
  }
  #flecha {
    font-size: 5em;
    margin-top: 28px;
  }
  #objetivo img {
    width: 170px;
    height: 170px; 
  }
  #instrucciones {
    margin-left: 25px;
  }
  h1 {
    text-align: center;
  }
}